*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    height: 74vh;
    width: 60vw;
    /* background-color: blueviolet; */
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 15vh;
    border-radius: 12px;
}

.leftdiv{
background: linear-gradient(to bottom, #0D6DFD, #70a7f8);

height: 100%;
width: 50%;
/* border-radius: 11px; */
border-top-left-radius: 11px;
border-bottom-left-radius: 11px;
}


 .leftdiv2{
    background-color: rgb(238, 239, 239); 
     background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
    height: 79%;
    width: 70%;
    margin: 60px 70px ;
    border-radius: 20px;
    
}


.leftdiv2 .img1{
    z-index: 2;
    height: 53vh;
    margin-top: 42px;
}

.rightdiv{
    height: 100%;
    width: 50%;

}

.category{
    display: flex;
    align-items: center;
    gap:20px;

    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
}
.category button{
    border-radius: 20%;
    height: 30px;
    width: 80px;
    cursor: pointer;
    border: 1px solid gray;
    transition: all 0.5s ease-in;
}
.category button:hover{
    transform: scale(1.05);
}
 .cat{
    height: 30px;
    width: 90px;
 
}
.patientCategory button{
    background-color: white ;
    font-weight: bold;
}
.patientCategory button:hover,.doctorCategory button:hover,.hospitalCategory button:hover{
  border: 1.1px solid #0D6DFD;
}
.doctorCategory button{
    background-color: #0D6DFD;
    color: white;
    font-weight: bold;
}
.hospitalCategory button{
    background-color: white;
    font-weight: bold;
}.patientCategory a,.doctorCategory a,.hospitalCategory a{
    text-decoration: none;
    
}

.rightdiv h1{
    text-align: center;
    margin-top: 20px;
}
.doctorAvatar{
    background-color: rgb(236, 231, 231);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doctorAvatar i{
font-size: 50px;
color: #0D6DFD;
/* margin: 50px 50%; */


}
.formDoctor{
    margin-top: 50px;

    border: 2px solid #0D6DFD;
    
}

.formLogin{
    margin-top: 20px;
}
.formLogin label{
    font-size: 15px;
    color: gray;
    position: absolute;
    /* top: -10px; */
  margin-left: 6vw;
  margin-top: -8px;
   background: white;
  padding: 0 5px;
  z-index: 4;
}

.inputBox {
  display: flex;
  align-items: center;
  border: 2px solid #b5b5b5;
  padding: 10px;
  border-radius: 6px;
  gap: 10px;
  width: 20vw;
  margin: auto;
}

.inputBox input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}
.inputBox i{
    color: gray;
    margin-top: 6px;
}

.doctorLogin {
    height: 34px;
    width: 80px;
    background-color: #4CAF50;
    border-radius: 10px;
     margin: 30px 175px;
    font-size:16px;
    cursor: pointer;
  color: white;
  border: none;
  transition: all 0.5s ease;
 
}


.doctorLogin:hover{
  border-radius: 15px;
  border: 2px solid green;
  background-color: #48a34b;
}




    
.navbar{
    height: 8.2vh;
    width: 100%;
    border-bottom: 1px  solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
     box-shadow: 0px 5px 15px gray;
     
     
     

    
    
}
nav{
    position: fixed;
     z-index: 10;
     top: 0;
     margin: 0;
       height: 8.3vh;
  width: 100%;
  background-color: white;
  
    
    }


.logo img{
    height: 57px;
    width: 68px;
    margin-top: 2px;
    margin-left: 5px;
    cursor: pointer;
}


.nav-list ul{
    list-style: none;
    display: flex;
    /* gap: -30px; */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    
   
    
}
i{
    font-size: 13px;
    margin-bottom: 7px;
        color: #0D6DFD;

}

.nav-list ul li a{
    color: black;
    text-decoration: none;
    font-weight: 400;
   
    
}
.nav-list ul li :hover{
    color: #0D6DFD;
    transition: all 1s ease;
 
    /* font-weight: bold; */
    
   
    
}

.i-login{
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 15px;
    margin-top: 15px;
      
}
.i-signup{
    display: flex;
    align-items: center;
    gap: 6px;
    border: 2px solid #0D6DFD;
    margin-right: 35px;
    margin-top: 0px;
    padding-top: 8px;
    padding-left: 7px;
    height: 35px;
    width: 100px;

      

}


.signup{
    background-color: white;
    transition: all 0.5s ease;
    border-radius: 5px;
    
}
.signup:hover{
   background-color: #e8edf4;
   color: white;
   border-radius: 12px;
}.login:hover{
  background-color: rgb(255, 218, 218);
   color: white;
   border-radius: 10px;
}
.p-login {
margin-top: 10px;


}
.p-signup {
margin-top: -5px;
padding: 2px ;
font-size: 15px;
color: #0D6DFD;
font-weight: bold;
}


