*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: aqua;
    height: 60px;
    width: 100%;
    box-shadow: 0px 0px 5px;
}

nav img{
    height: 60px;
    width: 70px;
}
.mainDiv{
    display: flex;
    gap: 2px;
    height: 615px;
}
.adminLeft{
    width: 20%;
    
    background-color: blueviolet;
}
.adminRight{
    background-color: rgb(225, 190, 190);
    width: 80%;
}