*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: aqua;
    height: 60px;
    width: 100%;
    box-shadow: 0px 0px 5px;
}

nav img{
    height: 60px;
    width: 70px;
}
.mainDiv{
    display: flex;
    gap: 2px;
    height: 620px;
    margin-top: 54.5px;
}
.adminLeft{
    width: 20%;
    
    background-color: #0D6DFD;
    
}

.adminLeft ul li a{
    color: white;
}
.adminRight{
    background-color: white;
    width: 80%;
    
}