*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hospitalleft{
    padding: 50px 0;

}

.hospitalleft ul{
    gap: 40px;
    display: flex;
    flex-direction: column;
}
.hospitalleft ul li a{
    list-style: none;
    text-decoration: none;
    margin: 30px 80px;
    margin-top: 40px;
    
}








.addDepartment{
    height: 100px;
    background-color: rgb(178, 255, 210);
}