*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pbookform{
    height: 80%;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    /* background-color: rgb(252, 166, 166); */
    border: 1px solid black;
    border-radius: 10px;
}